* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nombre, .apellido {
    font-size: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0%;
    margin-right: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio {
    background: #fdfbc9;
    display: block;
}

#sobre-mi {
    background: #ffffff;
}

#proyectos {
    background: #ddd;
}

#contacto {
    background: #bbb;
}

footer {
    background: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}